@import "fonts.css"

*
  margin: 0
  padding: 0
  outline: none
  &:focus,
  &:active
    outline: none

ul
  list-style-type: none

h1, h2, h3, h4, h5
  font-weight: normal


@mixin border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin background-size($width)
  -o-background-size: $width
  -webkit-background-size: $width
  -khtml-background-size: $width
  -moz-background-size: $width
  background-size: $width

@mixin size($width, $height: $width)
  width: $width
  height: $height

@mixin linx($link, $hover, $active)
  a
    color: $link
    &:hover
      color: $hover
    &:active
      color: $active

@mixin pad($pads)
  padding: $pads

@mixin mar($margs)
  margin: $margs

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

html, body
  height: 100%
  font-size: 14px
  font-family: Tahoma, sans-serif
  max-width: 320px
  margin: 0 auto

.wrap
  width: 1175px
  margin: 0 auto
  position: relative

.dibM
  display: inline-block
  vertical-align: middle

.dibT
  display: inline-block
  vertical-align: top

.clear
  clear: both

.wrap
  max-width: 310px
  margin: 0 auto

//=========================================================BASKETcrop===================================================

.header
  .logo
    text-align: center
    padding: 22px 0 0
  .phoneBox
    padding: 14px 0 8px
    img
      margin-top: 7px
    img, .phones
      @extend .dibM
    .phones
      margin: 0 0 0 9px
      a
        display: block
        text-decoration: none
        margin: 8px 0 0
        color: #4b4b4b
        font-size: 21px
        text-transform: uppercase
  .socialLinks
    float: right
    a
      text-align: right
      display: block
      img
        margin: 0

.mainLink
  text-align: center
  text-decoration: none
  color: #f60
  display: block
  margin: 10px 0

.mainMenu
  background: #f60
  border: 1px solid #a84300
  h2
    padding: 16px 0
    color: white
    font-size: 24px
    cursor: pointer
    span
      float: right
      position: relative
      i
        position: absolute
        right: 0
        top: 0
        width: 32px
        height: 8px
        background: white
        @include prefix(border-radius, 1px)
        -webkit-transition: all .2s ease-in
        -moz-transition: all .2s ease-in
        -ms-transition: all .2s ease-in
        -o-transition: all .2s ease-in
        transition: all .2s ease-in
        &:nth-child(2)
          top: 11px
        &:nth-child(3)
          top: 22px
  h2.active span
    i:nth-child(2)
      opacity: 0
    i:nth-child(1)
      top: 10px
      @include prefix(transform, rotate(45deg))
    i:nth-child(3)
      top: 10px
      @include prefix(transform, rotate(-45deg))



  .hideMenu
    display: none
    a
      display: block
      border-top: 1px solid white
      color: white
      font-size: 16px
      text-decoration: none
      padding: 5px
    .basketMenu
      padding: 5px
      background: white
      color: #f60
      span
        float: right

.subMenu
  @extend .mainMenu
  background: #f1f1f1
  border: 1px solid #dedede
  h2
    color: #5b5b5b
    span i
      background: #686868
  .hideMenu a
    border-top: 1px solid #5b5b5b
    color: #5b5b5b

.title, .title2
  color: #f60
  font-size: 18px
  padding: 3px 0 11px 17px
  margin: 21px 0
  background: url(../img/title.png) 0 0 no-repeat

.title2
  color: black

.basketItem
  border-top: 1px solid #9a9a9a
  border-bottom: 1px solid #9a9a9a
  padding: 20px 0
  .imgBox
    @extend .dibT
  .basketEnter
    @extend .dibT
    padding: 0 0 0 9px
    width: 170px
    text-align: right
    a
      float: left
      margin-bottom: 5px
      font-weight: 700
      color: black
      font-size: 12px
      text-decoration: underline
    input
      @extend .dibM
      width: 55px
      height: 29px
      background: white
      border: 1px solid #f60
      line-height: 31px
      color: #f60
      font-size: 14px
      text-align: center
      float: left
    h2
      @extend .dibM
      color: black
      font-size: 12px
      letter-spacing: -0.6px
      margin: 11px 0 0
    h3
      color: #f60
      font-size: 13px
      font-weight: 700
      margin: 21px 0 13px
    button
      background: white
      border: 1px solid #f60
      padding: 6px 16px
      color: #f60
      font-size: 14px

.basketInfo
  padding: 17px 0 0
  button
    @extend .dibM
    background: white
    border: 1px solid #f60
    padding: 6px 21px
    color: #f60
    font-size: 14px
    margin: 0 11px 0 0
  h2
    @extend .dibM
    color: black
    font-size: 12px
    font-weight: 700
    span
      color: #f60

.basketForm
  label
    font-size: 14px
    display: block
    color: black
    margin: 0 0 2px
    span
      color: #f60
      font-weight: 700
  input, textarea
    margin: 0 0 8px 0
    width: 100%
    height: 20px
    background: white
    border: 1px solid darkgrey
    @include prefix(box-sizing, border-box)
    line-height: 20px
    padding: 0 5px
  textarea
    height: 85px
    resize: none
    margin: 0
  .captcha
    img
      @extend .dibT
    .captchaEnter
      width: 172px
      margin: 0 0 0 14px
      @extend .dibT
      h2
        margin: 0 0 8px 0
        color: black
        font-size: 14px
  h2
    font-size: 14px
    color: black
    letter-spacing: -0.3px
    span
      color: #f60
      font-weight: 700
  button
    margin: 13px auto 49px
    display: block
    padding: 4px 23px
    background: white
    background-image: linear-gradient(to top, transparent 0%, #e6e6e6 100%)
    border: 1px solid darkgrey
    box-shadow: inset 1px 1.7px 1px white

  
.footer
  border-top: 2px solid #dedede
  background: #eee
  padding: 15px 0 30px
  img
    width: 123px
    @extend .dibM
  .footerContent
    @extend .dibM
    width: 180px
    text-align: right
    color: #a1a1a1
    font-size: 12px
    a, h2
      color: #a1a1a1
      font-size: 12px

.imgBorder
  position: relative
  display: inline-block

.imgBorder:after
  content: ''
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  border: 4px solid silver
  @include prefix(border-radius, 1px)
  @include prefix(box-sizing, border-box)
//=========================================================catalogItem==================================================

.catalogItem
  @extend .dibT
  width: 49.2%
  text-align: center
  a
    display: block
    margin: 0 0 30px
    span
      height: 12px
      color: #f60
      font-size: 12px
      font-weight: 700
      text-decoration: underline
      min-height: 31px
      display: block

.docBox
  a
    @extend .dibT
    width: 32.2%
    text-align: center
    margin: 0 0 15px
    img
      height: 137px

.catalogue
  p
    color: #6f6f6f
    font-size: 14px
    margin: 30px 0 40px

//=========================================================catalogInner=================================================

.catalogInner
  .video iframe
    width: 100%
    height: 200px

.catalogInnerBox
  margin-bottom: 40px
  overflow: hidden
  .catalogLeft
    float: left
    width: 35%
    h2
      margin-top: 10px
      text-align: center
      background: silver
      padding: 10px 0
      color: white
      font-size: 14px
      text-decoration: line-through
  .catalogRight
    float: right
    width: 63%
    p
      color: #f60
      font-size: 14px

.addToCartBtn,
.wrenchBtn,
.handBtn
  color: #f60
  font-size: 14px
  background: white
  border: 1px solid #f60
  width: 100%
  padding: 10px 0 10px 10px
  margin: 10px 0 0
  display: block
  text-decoration: none
  @include prefix(box-sizing, border-box)
  img
    margin-right: 10px
    position: relative
    top: 3px
  span
    font-weight: 700

//=========================================================productCrop==================================================

.productCropItem
  overflow: hidden
  .productCropLeft
    width: 39%
    float: left
  .productCropRight
    width: 59%
    float: right
    p
      color: #f60
      font-size: 14px

.questionsTitle
  margin: 19px 0 10px
  border-bottom: 1px solid #f60
  span
    display: inline-block
    padding: 8px 12px
    position: relative
    top: 1px
    color: #F60
    font-size: 18px
    border: 1px solid #f60
    border-bottom: 1px solid white
    -webkit-box-shadow: 2px -2px 2px 0 rgba(0,0,0, .5)
    box-shadow: 2px -2px 2px 0 rgba(0,0,0, .5)

//=========================================================services=====================================================

.servicesTable
  margin-bottom: 40px
  .imgBox
    text-align: center
    margin: 20px 0
  h2
    color: #f60
    font-size: 16px
    margin: 0 5px 10px
  a
    display: block
    color: gray
    font-size: 14px
    text-decoration: none
    text-align: center
  table
    width: 100%
    tr
      width: 100%
      border-bottom: 1px dotted silver
      th
        background: silver
        color: white
        font-size: 14px
        font-weight: 700
        &:first-child
          padding: 6px 0 6px 5px
          text-align: left
        &:last-child
          padding: 6px 5px 6px
          text-align: right
          width: 100px
    tr td:first-child
      font-size: 14px
      padding: 3px 0 3px 5px
      color: black
      border-right: 1px dotted silver
      span
        color: #f60
    tr td:last-child
      text-align: right
      padding: 3px 5px 3px
      width: 100px
      color: #606060
      font-size: 14px

//=========================================================services=====================================================

.contactsForm
  @extend .basketForm
  margin: 34px 0
  h3
    color: #6f6f6f
    font-size: 14px
    margin-bottom: 11px

.mapBox
  margin: 43px 0 0
  img
    width: 100%
  h2
    margin-top: 11px
    font-size: 18px
    color: black
  h3
    font-size: 18px
    color: #f60
    margin-bottom: 20px
  h4
    color: red
    font-size: 12px
    line-height: 14px

.contactsBox
  margin: 60px 0 0
  h2
    margin: 8px 0 0
    color: black
    font-size: 18px
  p, a
    color: black
    font-size: 14px
    margin-top: 2px
    display: inline-block
    b
      font-weight: 700

.contactsInfoBox
  p, a
    color: #6f6f6f
    font-size: 14px
    b
      font-weight: 700

//=========================================================INDEX========================================================

.newsBox
  margin-bottom: 25px
  a
    color: black
    font-size: 14px
    text-decoration: underline
  h2
    color: #f60
    font-size: 12px
    margin-bottom: 10px
  p
    color: #3f3f39
    font-size: 14px

.indexBox
  margin-bottom: 30px
  .title
    color: black
    text-decoration: underline
  img
    margin: 10px auto
    display: block
  p
    width: 248px
    color: #6f6f6f
    font-size: 14px
    margin: 0 auto

.brandBox
  img
    @extend .dibM
    width: 44%
    margin: 2%
  img:nth-child(odd)
    text-align: right

.autoBox
  a
    @extend .dibM
    width: 20%
    margin: 2%

.payBox
  margin-bottom: 30px
  img
    @extend .dibM
    width: 44%
    margin: 2%
    &:last-child
      display: block
      margin: 2% auto

.auto1, .auto2, .auto3, .auto4, .auto5, .auto6, .auto7, .auto8, .auto9, .auto10, .auto11, .auto12, .auto13, .auto14, .auto15, .auto16, .auto17, .auto18, .auto19, .auto20
  width: 64px
  height: 61px
  display: inline-block

.auto1
  background: url(../img/index/auto1.png) 0 -61px no-repeat

.auto2
  background: url(../img/index/auto2.png) 0 -61px no-repeat

.auto3
  background: url(../img/index/auto3.png) 0 -61px no-repeat

.auto4
  background: url(../img/index/auto4.png) 0 -61px no-repeat

.auto5
  background: url(../img/index/auto5.png) 0 -61px no-repeat

.auto6
  background: url(../img/index/auto6.png) 0 -61px no-repeat

.auto7
  background: url(../img/index/auto7.png) 0 -61px no-repeat

.auto8
  background: url(../img/index/auto8.png) 0 -61px no-repeat

.auto9
  background: url(../img/index/auto9.png) 0 -61px no-repeat

.auto10
  background: url(../img/index/auto10.png) 0 -61px no-repeat

.auto11
  background: url(../img/index/auto11.png) 0 -61px no-repeat

.auto12
  background: url(../img/index/auto12.png) 0 -61px no-repeat

.auto13
  background: url(../img/index/auto13.png) 0 -61px no-repeat

.auto14
  background: url(../img/index/auto14.png) 0 -61px no-repeat

.auto15
  background: url(../img/index/auto15.png) 0 -61px no-repeat

.auto16
  background: url(../img/index/auto16.png) 0 -61px no-repeat

.auto17
  background: url(../img/index/auto17.png) 0 -61px no-repeat

.auto18
  background: url(../img/index/auto18.png) 0 -61px no-repeat

.auto19
  background: url(../img/index/auto19.png) 0 -61px no-repeat

.auto20
  background: url(../img/index/auto20.png) 0 -61px no-repeat

.pop-up-wrap
  display: none
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  background: none
  z-index: -1
  -webkit-transition: all 0s ease-in
  -moz-transition: all 0s ease-in
  -ms-transition: all 0s ease-in
  -o-transition: all 0s ease-in
  transition: all 0s ease-in


.pop-up-inside
  position: fixed
  z-index: 11
  left: 50%
  top: 50%
  margin: -15px 0 0 -150px
  width: 300px
  height: 30px
  background: #fff
  text-align: center
  line-height: 30px
  text-decoration: none
  span
    color: #f60
    text-decoration: none


.close-pop-up
  position: fixed
  right: 0
  left: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 10

.active-pop-up
  display: block
  z-index: 11111
  background: rgba(0, 0, 0, .5)

.stop-scrolling
  height: 100%
  overflow: hidden








.viewAll
  margin-bottom: 15px
  display: block
  height: 25px
  line-height: 25px
  text-align: center
  background: #f60
  color: white !important

.gallBox
  padding: 20px
  a
    width: 30.3%
    margin: 1%
    display: inline-block
  img
    width: 100%

.popUpBuy
  position: fixed
  z-index: 11
  left: 50%
  top: 20%
  margin: -15px 0 0 -160px
  @include prefix(box-sizing, border-box)
  width: 320px
  padding: 10px
  background: #fff
  h2
    font-size: 16px
    color: #f60
    text-align: center
  label
    margin-top: 5px
    color: black
    display: block
    span
      color: #f60
  input
    width: 98%
  button
    display: block
    margin: 10px auto 0
    padding: 3px 7px
    color: grey
  p
    a
      color: #000









