@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  outline: none; }
  *:focus, *:active {
    outline: none; }

ul {
  list-style-type: none; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

html, body {
  height: 100%;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  max-width: 320px;
  margin: 0 auto; }

.wrap {
  width: 1175px;
  margin: 0 auto;
  position: relative; }

.dibM, .header .phoneBox img, .header .phoneBox .phones, .basketItem .basketEnter input, .basketItem .basketEnter h2, .basketInfo button, .basketInfo h2, .footer img, .footer .footerContent, .brandBox img, .autoBox a, .payBox img {
  display: inline-block;
  vertical-align: middle; }

.dibT, .basketItem .imgBox, .basketItem .basketEnter, .basketForm .captcha img, .contactsForm .captcha img, .basketForm .captcha .captchaEnter, .contactsForm .captcha .captchaEnter, .catalogItem, .docBox a {
  display: inline-block;
  vertical-align: top; }

.clear {
  clear: both; }

.wrap {
  max-width: 310px;
  margin: 0 auto; }

.header .logo {
  text-align: center;
  padding: 22px 0 0; }
.header .phoneBox {
  padding: 14px 0 8px; }
  .header .phoneBox img {
    margin-top: 7px; }
  .header .phoneBox .phones {
    margin: 0 0 0 9px; }
    .header .phoneBox .phones a {
      display: block;
      text-decoration: none;
      margin: 8px 0 0;
      color: #4b4b4b;
      font-size: 21px;
      text-transform: uppercase; }
.header .socialLinks {
  float: right; }
  .header .socialLinks a {
    text-align: right;
    display: block; }
    .header .socialLinks a img {
      margin: 0; }

.mainLink {
  text-align: center;
  text-decoration: none;
  color: #f60;
  display: block;
  margin: 10px 0; }

.mainMenu, .subMenu {
  background: #f60;
  border: 1px solid #a84300; }
  .mainMenu h2, .subMenu h2 {
    padding: 16px 0;
    color: white;
    font-size: 24px;
    cursor: pointer; }
    .mainMenu h2 span, .subMenu h2 span {
      float: right;
      position: relative; }
      .mainMenu h2 span i, .subMenu h2 span i {
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
        height: 8px;
        background: white;
        -webkit-border-radius: 1px;
        -khtml-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        border-radius: 1px;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        .mainMenu h2 span i:nth-child(2), .subMenu h2 span i:nth-child(2) {
          top: 11px; }
        .mainMenu h2 span i:nth-child(3), .subMenu h2 span i:nth-child(3) {
          top: 22px; }
  .mainMenu h2.active span i:nth-child(2), .subMenu h2.active span i:nth-child(2) {
    opacity: 0; }
  .mainMenu h2.active span i:nth-child(1), .subMenu h2.active span i:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mainMenu h2.active span i:nth-child(3), .subMenu h2.active span i:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .mainMenu .hideMenu, .subMenu .hideMenu {
    display: none; }
    .mainMenu .hideMenu a, .subMenu .hideMenu a {
      display: block;
      border-top: 1px solid white;
      color: white;
      font-size: 16px;
      text-decoration: none;
      padding: 5px; }
    .mainMenu .hideMenu .basketMenu, .subMenu .hideMenu .basketMenu {
      padding: 5px;
      background: white;
      color: #f60; }
      .mainMenu .hideMenu .basketMenu span, .subMenu .hideMenu .basketMenu span {
        float: right; }

.subMenu {
  background: #f1f1f1;
  border: 1px solid #dedede; }
  .subMenu h2 {
    color: #5b5b5b; }
    .subMenu h2 span i {
      background: #686868; }
  .subMenu .hideMenu a {
    border-top: 1px solid #5b5b5b;
    color: #5b5b5b; }

.title, .title2 {
  color: #f60;
  font-size: 18px;
  padding: 3px 0 11px 17px;
  margin: 21px 0;
  background: url(../img/title.png) 0 0 no-repeat; }

.title2 {
  color: black; }

.basketItem {
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  padding: 20px 0; }
  .basketItem .basketEnter {
    padding: 0 0 0 9px;
    width: 170px;
    text-align: right; }
    .basketItem .basketEnter a {
      float: left;
      margin-bottom: 5px;
      font-weight: 700;
      color: black;
      font-size: 12px;
      text-decoration: underline; }
    .basketItem .basketEnter input {
      width: 55px;
      height: 29px;
      background: white;
      border: 1px solid #f60;
      line-height: 31px;
      color: #f60;
      font-size: 14px;
      text-align: center;
      float: left; }
    .basketItem .basketEnter h2 {
      color: black;
      font-size: 12px;
      letter-spacing: -0.6px;
      margin: 11px 0 0; }
    .basketItem .basketEnter h3 {
      color: #f60;
      font-size: 13px;
      font-weight: 700;
      margin: 21px 0 13px; }
    .basketItem .basketEnter button {
      background: white;
      border: 1px solid #f60;
      padding: 6px 16px;
      color: #f60;
      font-size: 14px; }

.basketInfo {
  padding: 17px 0 0; }
  .basketInfo button {
    background: white;
    border: 1px solid #f60;
    padding: 6px 21px;
    color: #f60;
    font-size: 14px;
    margin: 0 11px 0 0; }
  .basketInfo h2 {
    color: black;
    font-size: 12px;
    font-weight: 700; }
    .basketInfo h2 span {
      color: #f60; }

.basketForm label, .contactsForm label {
  font-size: 14px;
  display: block;
  color: black;
  margin: 0 0 2px; }
  .basketForm label span, .contactsForm label span {
    color: #f60;
    font-weight: 700; }
.basketForm input, .contactsForm input, .basketForm textarea, .contactsForm textarea {
  margin: 0 0 8px 0;
  width: 100%;
  height: 20px;
  background: white;
  border: 1px solid darkgrey;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  padding: 0 5px; }
.basketForm textarea, .contactsForm textarea {
  height: 85px;
  resize: none;
  margin: 0; }
.basketForm .captcha .captchaEnter, .contactsForm .captcha .captchaEnter {
  width: 172px;
  margin: 0 0 0 14px; }
  .basketForm .captcha .captchaEnter h2, .contactsForm .captcha .captchaEnter h2 {
    margin: 0 0 8px 0;
    color: black;
    font-size: 14px; }
.basketForm h2, .contactsForm h2 {
  font-size: 14px;
  color: black;
  letter-spacing: -0.3px; }
  .basketForm h2 span, .contactsForm h2 span {
    color: #f60;
    font-weight: 700; }
.basketForm button, .contactsForm button {
  margin: 13px auto 49px;
  display: block;
  padding: 4px 23px;
  background: white;
  background-image: linear-gradient(to top, transparent 0%, #e6e6e6 100%);
  border: 1px solid darkgrey;
  box-shadow: inset 1px 1.7px 1px white; }

.footer {
  border-top: 2px solid #dedede;
  background: #eee;
  padding: 15px 0 30px; }
  .footer img {
    width: 123px; }
  .footer .footerContent {
    width: 180px;
    text-align: right;
    color: #a1a1a1;
    font-size: 12px; }
    .footer .footerContent a, .footer .footerContent h2 {
      color: #a1a1a1;
      font-size: 12px; }

.imgBorder {
  position: relative;
  display: inline-block; }

.imgBorder:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid silver;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.catalogItem {
  width: 49.2%;
  text-align: center; }
  .catalogItem a {
    display: block;
    margin: 0 0 30px; }
    .catalogItem a span {
      height: 12px;
      color: #f60;
      font-size: 12px;
      font-weight: 700;
      text-decoration: underline;
      min-height: 31px;
      display: block; }

.docBox a {
  width: 32.2%;
  text-align: center;
  margin: 0 0 15px; }
  .docBox a img {
    height: 137px; }

.catalogue p {
  color: #6f6f6f;
  font-size: 14px;
  margin: 30px 0 40px; }

.catalogInner .video iframe {
  width: 100%;
  height: 200px; }

.catalogInnerBox {
  margin-bottom: 40px;
  overflow: hidden; }
  .catalogInnerBox .catalogLeft {
    float: left;
    width: 35%; }
    .catalogInnerBox .catalogLeft h2 {
      margin-top: 10px;
      text-align: center;
      background: silver;
      padding: 10px 0;
      color: white;
      font-size: 14px;
      text-decoration: line-through; }
  .catalogInnerBox .catalogRight {
    float: right;
    width: 63%; }
    .catalogInnerBox .catalogRight p {
      color: #f60;
      font-size: 14px; }

.addToCartBtn,
.wrenchBtn,
.handBtn {
  color: #f60;
  font-size: 14px;
  background: white;
  border: 1px solid #f60;
  width: 100%;
  padding: 10px 0 10px 10px;
  margin: 10px 0 0;
  display: block;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .addToCartBtn img,
  .wrenchBtn img,
  .handBtn img {
    margin-right: 10px;
    position: relative;
    top: 3px; }
  .addToCartBtn span,
  .wrenchBtn span,
  .handBtn span {
    font-weight: 700; }

.productCropItem {
  overflow: hidden; }
  .productCropItem .productCropLeft {
    width: 39%;
    float: left; }
  .productCropItem .productCropRight {
    width: 59%;
    float: right; }
    .productCropItem .productCropRight p {
      color: #f60;
      font-size: 14px; }

.questionsTitle {
  margin: 19px 0 10px;
  border-bottom: 1px solid #f60; }
  .questionsTitle span {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    top: 1px;
    color: #F60;
    font-size: 18px;
    border: 1px solid #f60;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, 0.5); }

.servicesTable {
  margin-bottom: 40px; }
  .servicesTable .imgBox {
    text-align: center;
    margin: 20px 0; }
  .servicesTable h2 {
    color: #f60;
    font-size: 16px;
    margin: 0 5px 10px; }
  .servicesTable a {
    display: block;
    color: gray;
    font-size: 14px;
    text-decoration: none;
    text-align: center; }
  .servicesTable table {
    width: 100%; }
    .servicesTable table tr {
      width: 100%;
      border-bottom: 1px dotted silver; }
      .servicesTable table tr th {
        background: silver;
        color: white;
        font-size: 14px;
        font-weight: 700; }
        .servicesTable table tr th:first-child {
          padding: 6px 0 6px 5px;
          text-align: left; }
        .servicesTable table tr th:last-child {
          padding: 6px 5px 6px;
          text-align: right;
          width: 100px; }
    .servicesTable table tr td:first-child {
      font-size: 14px;
      padding: 3px 0 3px 5px;
      color: black;
      border-right: 1px dotted silver; }
      .servicesTable table tr td:first-child span {
        color: #f60; }
    .servicesTable table tr td:last-child {
      text-align: right;
      padding: 3px 5px 3px;
      width: 100px;
      color: #606060;
      font-size: 14px; }

.contactsForm {
  margin: 34px 0; }
  .contactsForm h3 {
    color: #6f6f6f;
    font-size: 14px;
    margin-bottom: 11px; }

.mapBox {
  margin: 43px 0 0; }
  .mapBox img {
    width: 100%; }
  .mapBox h2 {
    margin-top: 11px;
    font-size: 18px;
    color: black; }
  .mapBox h3 {
    font-size: 18px;
    color: #f60;
    margin-bottom: 20px; }
  .mapBox h4 {
    color: red;
    font-size: 12px;
    line-height: 14px; }

.contactsBox {
  margin: 60px 0 0; }
  .contactsBox h2 {
    margin: 8px 0 0;
    color: black;
    font-size: 18px; }
  .contactsBox p, .contactsBox a {
    color: black;
    font-size: 14px;
    margin-top: 2px;
    display: inline-block; }
    .contactsBox p b, .contactsBox a b {
      font-weight: 700; }

.contactsInfoBox p, .contactsInfoBox a {
  color: #6f6f6f;
  font-size: 14px; }
  .contactsInfoBox p b, .contactsInfoBox a b {
    font-weight: 700; }

.newsBox {
  margin-bottom: 25px; }
  .newsBox a {
    color: black;
    font-size: 14px;
    text-decoration: underline; }
  .newsBox h2 {
    color: #f60;
    font-size: 12px;
    margin-bottom: 10px; }
  .newsBox p {
    color: #3f3f39;
    font-size: 14px; }

.indexBox {
  margin-bottom: 30px; }
  .indexBox .title {
    color: black;
    text-decoration: underline; }
  .indexBox img {
    margin: 10px auto;
    display: block; }
  .indexBox p {
    width: 248px;
    color: #6f6f6f;
    font-size: 14px;
    margin: 0 auto; }

.brandBox img {
  width: 44%;
  margin: 2%; }
.brandBox img:nth-child(odd) {
  text-align: right; }

.autoBox a {
  width: 20%;
  margin: 2%; }

.payBox {
  margin-bottom: 30px; }
  .payBox img {
    width: 44%;
    margin: 2%; }
    .payBox img:last-child {
      display: block;
      margin: 2% auto; }

.auto1, .auto2, .auto3, .auto4, .auto5, .auto6, .auto7, .auto8, .auto9, .auto10, .auto11, .auto12, .auto13, .auto14, .auto15, .auto16, .auto17, .auto18, .auto19, .auto20 {
  width: 64px;
  height: 61px;
  display: inline-block; }

.auto1 {
  background: url(../img/index/auto1.png) 0 -61px no-repeat; }

.auto2 {
  background: url(../img/index/auto2.png) 0 -61px no-repeat; }

.auto3 {
  background: url(../img/index/auto3.png) 0 -61px no-repeat; }

.auto4 {
  background: url(../img/index/auto4.png) 0 -61px no-repeat; }

.auto5 {
  background: url(../img/index/auto5.png) 0 -61px no-repeat; }

.auto6 {
  background: url(../img/index/auto6.png) 0 -61px no-repeat; }

.auto7 {
  background: url(../img/index/auto7.png) 0 -61px no-repeat; }

.auto8 {
  background: url(../img/index/auto8.png) 0 -61px no-repeat; }

.auto9 {
  background: url(../img/index/auto9.png) 0 -61px no-repeat; }

.auto10 {
  background: url(../img/index/auto10.png) 0 -61px no-repeat; }

.auto11 {
  background: url(../img/index/auto11.png) 0 -61px no-repeat; }

.auto12 {
  background: url(../img/index/auto12.png) 0 -61px no-repeat; }

.auto13 {
  background: url(../img/index/auto13.png) 0 -61px no-repeat; }

.auto14 {
  background: url(../img/index/auto14.png) 0 -61px no-repeat; }

.auto15 {
  background: url(../img/index/auto15.png) 0 -61px no-repeat; }

.auto16 {
  background: url(../img/index/auto16.png) 0 -61px no-repeat; }

.auto17 {
  background: url(../img/index/auto17.png) 0 -61px no-repeat; }

.auto18 {
  background: url(../img/index/auto18.png) 0 -61px no-repeat; }

.auto19 {
  background: url(../img/index/auto19.png) 0 -61px no-repeat; }

.auto20 {
  background: url(../img/index/auto20.png) 0 -61px no-repeat; }

.pop-up-wrap {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: -1;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -ms-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0s ease-in; }

.pop-up-inside {
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -150px;
  width: 300px;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  text-decoration: none; }
  .pop-up-inside span {
    color: #f60;
    text-decoration: none; }

.close-pop-up {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.active-pop-up {
  display: block;
  z-index: 11111;
  background: rgba(0, 0, 0, 0.5); }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.viewAll {
  margin-bottom: 15px;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #f60;
  color: white !important; }

.gallBox {
  padding: 20px; }
  .gallBox a {
    width: 30.3%;
    margin: 1%;
    display: inline-block; }
  .gallBox img {
    width: 100%; }

.popUpBuy {
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 20%;
  margin: -15px 0 0 -160px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  padding: 10px;
  background: #fff; }
  .popUpBuy h2 {
    font-size: 16px;
    color: #f60;
    text-align: center; }
  .popUpBuy label {
    margin-top: 5px;
    color: black;
    display: block; }
    .popUpBuy label span {
      color: #f60; }
  .popUpBuy input {
    width: 98%; }
  .popUpBuy button {
    display: block;
    margin: 10px auto 0;
    padding: 3px 7px;
    color: grey; }
  .popUpBuy p a {
    color: #000; }

/*# sourceMappingURL=style.css.map */
